#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    - @latest_books.each_index do |index|
      %li{'data-target': "#slider", 'data-slide-to': "{index}", class: "#{active(index)}"}
  .carousel-inner{role: "listbox"}
    - @latest_books.each_with_index do |fresh_book, index|
      .item{class: "#{active(index)}"}
        .row
          .col-sm-5
            .general-img-wrap
              = image_tag carousel_img(fresh_book), alt: fresh_book.title, class: 'img-shadow general-thumbnail-img'
          .col-sm-7
            .mb-60
              %h1= fresh_book.title
              %p.lead= markdown(fresh_book.description)
              %p.lead.small= authors_to_list(fresh_book)
              .general-align
                = button_to t('button.by_now'), cartify.order_items_path(order_item: {quantity: 1, product_id: fresh_book.id}), { method: :post, remote: true, class: 'btn btn-primary', disabled: !fresh_book.active }
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only= t('page.home.carusel.prev')
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only= t('page.home.carusel.next')
